.nav-list {
  width: 50px;
  height: 100vh;
  background-color: gray;
}
.nav-item {
  background-color: orangered;
  height: 50px;
}
.nav-item:hover {
  background-color: red;
}
.nav-item .nav-item-icon {
  background-color: blue;
  height: 50px;
  min-width: 50px;
}
.nav-item:hover .nav-item-icon {
  position: relative;
  background-color: green;
}
.nav-item:active .nav-item-icon {
  background-color: yellow;
}
.nav-item-label {
  display: none;
}
.nav-item:hover .nav-item-label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 0 10px 0 60px;
  background-color: green;
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 50px;
}
